[Unit]
Description=Clicker Remote Control Server
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/clicker/clickerd.pid
ExecStart=/usr/sbin/clickerd /etc/clicker/server.cfg 

[Install]
WantedBy=multi-user.target
